<!DOCTYPE html>
<html lang="en">
    <head>
        <% include static/head %>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <a href="/"><h3 class="masthead-brand"><%= title %></h3></a>
                            <ul class="nav masthead-nav">
                                <li><a href="/">Shortify</a></li>
								<li class="active"><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="https://github.com/Pravian">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="title"><h2>Pravius - Shortify your link with a click!</h2></div>
				<div class="well-stats well-lg">
                
                    <p>
                        <strong>Pravius</strong> is a simple, anonymous and reliable URL-shortener which makes your life much easier.
                        Thanks to use of a simple but effective secret-based solution, users can easily manage their links without the need
                        to register for an account or disclose your private information. And all of that through the use of secure browsing with
                        HTTPS!
                    </p>
                    <p>
                        We've teamed up with the hugely popular screen capture tool <a href="https://screenshottr.us">ScreenShottr</a> to create
                        a perfect mix between easy screen capture sharing and shortened URLs. Next to that, we aim to be transparent and open.
                        Hence, we share our entire code base on our <a href="https://github.com/Pravian/Pravius">Github page</a>. This allows
                        anyone to collaborate with us to make our services better.
                    </p>
                    <p>
                        If you have a tip, a bug or a suggestion, don't hesitate to <a href="/contact">Contact Us</a>.
                    </p>
                    
                </div>
                
                <% include static/footer %>
            </div>
        </div>
    </body>
</html>