<!DOCTYPE html>
<html lang="en">
    <head>
        <% include static/head %>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <a href="/"><h3 class="masthead-brand"><%= title %></h3></a>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="/">Shortify</a></li>
								<li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="https://github.com/Pravian">Github</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <% if (typeof okay != "undefined" && okay) { %>
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Done!</strong> <%- okayMsg -%>
                        </div>
                    <% } %>
                   
                    <% if (typeof error != "undefined" && error) { %>
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Error!</strong> <%- errorMsg -%>
                        </div>
                    <% } %>
                    
                    <form action="/submit" method="POST">
                        <div class="inner cover">
                            <h1 class="cover-heading">Pravi.us your link</h1>
                            
                            <input type="text" name="link" placeholder="Paste your link here..." class="form-control input-lg">
                        </div>
                        </p>
                        <p class="lead">
                            <input type="submit" class="btn btn-lg btn-info" value="Shorten!">
                        </p>
                    </form>
                    
                </div>
                <% include static/footer %>
            </div>
        </div>
        <% include static/javascript %>
    </body>
</html>