<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= longDescription %>">
        <meta name="author" content="<%= author %>">
        <link rel="shortcut icon" href="/favicon.ico">
        <title><%= title %> | <%= shortDescription %></title>
        
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/cover.css" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand"><a href="/"><%= title %></a></h3>
                            <ul class="nav masthead-nav">
                                <li><a href="/">Shortify</a></li>
								<li class="active"><a href="/privacy">Privacy</a></li>
                                <li><a href="https://github.com/Pravian">Github</a></li>
                            </ul>
                        </div>
                    </div>

                    
                        <div class="inner cover">
                            <h1 class="cover-heading">Privacy</h1>
                        </div>
                        </p>
                        <p>
                            Pravian Systems ("Pravian", "Pravius", "we" or "us") are committed to protecting and respecting your privacy. This privacy policy explains how we use any personal information that we collect about you when you use pravius services.
                        </p>
						
						<p>
							<strong>I - What information we collect</strong><br />
							Pravius automatically stores the links you provide when generating a pravi.us link in a secure database powered by redis. The database can only be accessed remotely using a secure authentication key which is kept secret at all times. Pravius does <strong>not</strong> store any personally identifiable information (IP-address, browser, location, operating system, etc) anywhere. Thus, we enchance the privacy of our users.
						</p>
						
						<p>
							<strong>II - Information collected for "Big Data" and analytics</strong><br />
							Certain third-party providers may collect certain (non-personally indentifiable information) through pravius services used for big-data collection and statistics. None of this information is able to be traced back to you.
						</p>
						
						<p>
							<strong>III - How we share information</strong><br />
							Pravian does not collect private information and thus doesn't share any information which may identify users. Statistics for pravi.us link may be publicly available.
						</p>
                    </form>
                </div>
				
                <div class="mastfoot">
                    <div class="inner">
                        <p>Copyright &copy; 2014 <a href="http://www.pravian.net"><%= author %></a> &middot; <a href="/privacy">Privacy & Terms</a><p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/docs.min.js"></script>
    </body>
</html>